/* Write your CSS here */
.item {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
button {
  margin-right: 100px;
  height: 36px;
  width: 138px;
  border: 2px solid #00bed4;
  border-radius: 8px;
  background-color: transparent;
  color: #00bed4;
}
